  <% @projects.each do |p| %>
  <table class="table table-hover">
    <thead class="table_project_title">
      <tr data-item-id=<%= p.id %> class="item">
        <td>
          <h4>
          <%= p.title %>
          </h4>
        </td>
          <td class="button">
          <%= link_to edit_project_path(p), remote: true do %>
              <span class="glyphicon glyphicon-pencil"> </span>
          <% end %>
          </td>
        <td class="button">
          <%= link_to p, remote: true, method: :delete,
                        data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"> </span>
          <% end %>
        </td>
      </tr>
      <tr id="task_form">
        <td class="render-task" colspan="3">
              <% @task = Task.new %>
              <% @p = p.id %>
              <%= render "tasks/form" %>
        </td>
      </tr>
    </thead>
    <tbody class="table_task_title">
          <div class="row">
            <div class="col-md-7 col-md-offset-1" id="tasks">
                  <% p.tasks.each do |task| %>
                    <% @task_id = task.id%>

                    <tr data-item-id=<%= task.id %> class="item">
                      <td>
                        <div id="complete">
                        <label class="checkbox">
                          <input type="checkbox" value="">
                        </label>
                        </div>
                      </td>
                      <td>
                        <p>
                        <%= task.title %>
                        </p>
                      </td>

                      <td class="button">
                        <%= link_to edit_task_path(task), remote: true do %>
                            <span class="glyphicon glyphicon-pencil"> </span>
                        <% end %>
                      </td>

                      <td class="button">
                        <%= link_to task, remote:true, method: :delete do %>
                            <span class="glyphicon glyphicon-trash"> </span>
                        <% end %>
                      </td>
                    </tr>
                <% end %>

            </div>
          </div>

        </td>
      </tr>
    </tbody>
  </table>
  <% end %>